@charset "UFT-8";
/*Regra @charset caso haja problemas com acentuação*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 255, 64);
    
    color: rgb(226, 49, 43);


}
h1{
    color: rgb(0, 17, 255);

}
p{
    text-align: justify;
}